@tailwind base;
@tailwind components;
@tailwind utilities;

.hollow-text {
  -webkit-text-stroke: 1px rgb(207, 205, 205);
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}